@media screen and (max-width: 1319px) {
	.how-to-find__content {
		flex-direction: column-reverse;
		align-items: center;
	}
}

@media screen and (max-width: 1200px) {
	.no-scroll {
		overflow: hidden;
	}
	.header {
		flex-direction: column;
		height: 100%;
		background: none;
		backdrop-filter: none;
		&.active::before {
			display: block;
			z-index: 3;
		}

		.container {
			padding: 16px 20px 0 20px;
			overflow: visible;
		}
		&__logo {
			height: 30px;
			width: 57px;
			margin-left: 0;
			top: 15px;
			font-weight: 700;
			font-size: 16px;
			line-height: 94%;
			text-transform: capitalize;
		}
		&__menu {
			display: none;
		}
		&__contact-info {
			display: none;
		}

		&__burger {
			display: block;
			width: 24px;
			height: 24px;
			cursor: pointer;
			span {
				position: relative;
				top: 6px;
				display: block;
				width: 20px;
				height: 2px;
				background-color: #fff;
				position: relative;
				cursor: pointer;
				border-radius: 1px;
				&:before {
					content: "";
					position: absolute;
					top: -6px;
					left: 6px;
					border-radius: 1px;
					width: 14px;
					height: 2px;
					background-color: #fff;
					transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
				}
				&:after {
					content: "";
					position: absolute;
					top: 6px;
					left: 10px;
					width: 10px;
					height: 2px;
					background-color: #fff;
					transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
					border-radius: 1px;
				}
			}
		}
		&__burger.active {
			span {
				background: transparent;
				&:before {
					left: 0;
					top: 0px;
					width: 20px;
					background-color: $c1;
					transform: rotate(45deg);
				}
				&::after {
					left: 0;
					top: 0px;
					width: 20px;
					background-color: $c1;
					transform: rotate(-45deg);
				}
			}
		}

		&__menu.active {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 78px;
			left: 20px;
			z-index: 3;
			a {
				text-decoration: none;
				margin-bottom: 16px;
			}
		}
		&__contact-info.active {
			display: flex;
			position: absolute;
			top: 206px;
			left: 20px;
			transition: fill 0.2s ease-in-out;
			svg:hover {
				fill: $c2;
			}
		}
	}
	.banner {
		&.active {
			visibility: hidden;
		}
		&::after {
			min-height: 400px;
			background: linear-gradient(
				38deg,
				#fff 0%,
				rgba(255, 255, 255, 0.78) 31.23%,
				rgba(255, 255, 255, 0.2) 50.39%,
				rgba(255, 255, 255, 0) 68.37%
			);
		}
		&__text {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0;
			text-align: center;
			margin-top: 25px;
		}
		&__type-of-establishment {
			width: 133px;
			height: 18px;
			font-weight: 400;
			font-size: 12px;
			line-height: 150%;
			margin-bottom: 0;
		}
		&__main-title {
			width: 330px;
			height: 46px;
			text-align: center;
			font-weight: 700;
			font-size: 54px;
			line-height: 85%;
			text-transform: capitalize;
			text-align: center;
			text-wrap: nowrap;
			margin: 0 auto 32px auto;
		}
		&__order-link {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__order-link-button {
			width: 186px;
			height: 44px;
			font-weight: 600;
			font-size: 16px;
			margin-bottom: 8px;
		}
		&__order-link-alt {
			width: 186px;
			height: 36px;
			font-weight: 400;
			font-size: 11px;
			line-height: 164%;
			text-align: center;
		}
	}

	.about-us {
		.container {
			max-width: 360px;
			padding: 0 20px;
		}
		&__info {
			max-width: 320px;
			width: 100%;
			margin-bottom: 30px;
		}
		&__info::after {
			position: absolute;
			right: 22px;
			bottom: -12px;
			content: "";
			height: 40px;
			width: 40px;
			background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M7.32051%200L18.9769%2011.1386L34.641%207.32051L23.5024%2018.9769L27.3205%2034.641L15.6641%2023.5024L0%2027.3205L11.1386%2015.6641L7.32051%200Z%22%20fill%3D%22%23011F4A%22/%3E%3C/svg%3E");
			background-size: contain;
			z-index: 1;
		}

		&__title {
			font-family: Roboto;
			width: 264px;
			height: 76px;
			font-weight: 500;
			font-size: 32px;
			line-height: 1.19;
			span {
				font-weight: 700;
			}
		}

		&__text {
			position: relative;
			font-weight: 400;
			font-size: 18px;
			line-height: 1.22;
			letter-spacing: 0;
		}

		&__images {
			display: none;
		}
	}

	.why-us {
		.container {
			max-width: 360px;
			padding: 0 20px;
		}
		&__title {
			font-weight: 500;
			font-size: 32px;
			text-align: center;
			width: 210px;
			height: 76px;
			margin: 0 auto 24px auto;
			a {
				margin: 0;
			}
		}

		&__gallery {
			flex-direction: column;
		}

		&__block {
			height: 177px;
			margin-bottom: 16px;
		}
		&__block:last-child {
			margin-bottom: 40px;
		}

		&__text {
			width: 252px;
			height: 72px;
			font-weight: 400;
			font-size: 18px;
			line-height: 133%;
			text-align: center;
			color: #000;
		}
	}

	.our-treatments {
		.container {
			padding: 0 20px;
		}
		&__title {
			font-weight: 500;
			font-size: 32px;
			text-align: center;
			margin-bottom: 24px;
		}
		&__slider {
			max-width: 320px;
			margin: 24px auto 16px auto;
		}

		&__button-prev {
			display: none;
		}
		&__slide {
			width: 320px !important;
			height: 416px;
			border-radius: 0 120px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: relative;
		}
		&__slide::before {
			content: "";
			position: absolute;
			border-radius: 0 120px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				180deg,
				rgba(1, 28, 68, 0) 47.4%,
				rgba(1, 28, 68, 0.73) 82.66%,
				#011c44 99.06%
			);
			z-index: 1;
		}

		&__slide-text {
			font-weight: 400;
			font-size: 20px;
			line-height: 118%;
			text-align: center;
		}
		&__button-next {
			display: none;
		}
	}

	.swiper {
		max-width: 320px;
	}

	.swiper-pagination {
		margin-top: 16px;
		margin-bottom: 40px;
	}
	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
		margin-right: 16px;
	}
	.swiper-pagination-bullet:last-child {
		margin-right: 0;
	}

	.how-to-find {
		margin-bottom: 0;
		.container {
			max-width: 360px;
			padding: 0;
		}

		&__title {
			font-weight: 500;
			font-size: 32px;
			text-align: center;
			margin-bottom: 24px;
		}

		&__content {
			flex-direction: column-reverse;
		}

		&__map {
			width: 100%;
			height: 232px;
			border-radius: 0;
		}

		&__form {
			width: 320px;
			height: 434px;
			border-radius: 24px;
			background-image: url("../images/how-to-find__form-background-small.png");
			margin: 0 auto 24px auto;
			padding: 42px 24px;
			input:last-child {
				margin-bottom: 0;
			}
		}
		&__input {
			width: 241px;
			height: 46px;
			border-radius: 24px;
			border: 1.5px solid $c5;
			margin: 0 auto 16px auto;
			background: transparent;
			color: #fff;
			padding-left: 32px;
			font-weight: 400;
			font-size: 13px;
			transition: background-color 0.2s ease-in-out;
			&:focus {
				background-color: $c5;
			}
		}

		&__form-title {
			font-weight: 600;
			font-size: 22px;
			text-align: center;
			margin: 0 auto 24px auto;
		}

		&__submit-button {
			width: 241px;
			height: 44px;
			font-weight: 600;
			font-size: 16px;
			margin-bottom: 8px;
		}

		&__rules {
			font-weight: 400;
			font-size: 12px;
			line-height: 150%;
			text-align: center;
		}
	}

	.footer {
		height: 100%;
		background-image: url("../images/footer-background-small.png");
		background-size: cover;
		&::after {
			content: none;
			display: none;
		}
		.container {
			max-width: 360px;
			background: none;
		}
		&__content {
			padding: 32px 0 66px 0;
			flex-direction: column;
		}

		&__logo {
			width: 57px;
			height: 30px;
			font-weight: 700;
			font-size: 16px;
			line-height: 94%;
			text-transform: capitalize;
			margin: 0 auto 42px auto;
		}

		&__menu {
			margin-bottom: 16px;
			a {
				display: flex;
				text-decoration: none;
				font-weight: 400;
				font-size: 14px;
				color: #fff;
				align-items: center;
				margin-bottom: 16px;
				margin-left: auto;
				margin-right: auto;
			}
			a:last-child {
				margin-bottom: 0;
			}
		}

		&__contact-info {
			display: none;
			svg {
				fill: $white;
				transition: fill 0.2s ease-in-out;
				&:hover {
					fill: $c2;
				}
			}
		}

		&__contact-info-links-wide-screen {
			display: none;
		}
		&__contact-info-links-small-screen {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 136px;
			height: 32px;
			margin: 0 auto 8px auto;
			a {
				width: 32px;
				height: 32px;

				&:hover {
					svg {
						fill: $c2;
					}
				}
			}
			svg {
				width: 32px;
				height: 32px;
				fill: $white;
				transition: fill 0.2s ease-in-out;
			}
		}

		&__privacy-title {
			text-align: center;
			font-weight: 400;
			font-size: 14px;
		}

		&__privacy-text {
			text-align: center;
			margin-top: 8px;
		}
	}
	.swiper {
		width: 100%;
		overflow: hidden;
	}
	.swiper-wrapper {
		display: flex;
	}
	.swiper-slide {
		width: auto;
		flex-shrink: 0;
	}
}
