.custom-shape-divider-bottom-1753774549 {
	margin-bottom: -1px;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 1;

	svg {
		fill: $white;
		height: 30px;
	}
}
.custom-shape-divider-bottom-1753774549 .shape-fill {
	background: transparent;
	fill: $white;
}
@media screen and (min-width: 1200px) {
	.custom-shape-divider-bottom-1753774549 {
		svg {
			height: 88px;
		}
	}
}
